.App {
  text-align: center;
}

.App-container {
  margin: 0 auto;
  max-width: 600px;
}

/* Add some margins on the container on screens smaller than 600px */
@media all and (max-width: 600px) {
  .App-container {
    margin: 0 20px;
  }
}
