body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* truncate text to a single line with ellipses */
.ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

input {
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 16px;
}

button {
  font-size: 18px;
  background-color: #3369ff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

button:disabled {
  cursor: not-allowed;
  background-color: lightslategrey;
}
